doctype html
html
   head
      title = "Hello Pug"
   body
      include ./header.pug
      
      main
        h1 Estás en la sección #{section}
        p.greetings#people Mi primera plantilla!
        p #{msj}

      include ./footer.pug